<app-navbar></app-navbar>
<section class="landing">
  <section class="hero">
    <h1>Gebrauchte Autoteile – geprüft & günstig</h1>
    <p>Finde geprüfte Ersatzteile für dein Auto – direkt vom Schrauber.</p>
    <a routerLink="/teile" class="cta-btn">Jetzt Ersatzteil finden</a>
  </section>

  <section class="features">
    <div class="feature">
      <img src="assets/img/icons/Download.svg" alt="Icon" />
      <h3>Geprüfte Teile</h3>
      <p>Alle Teile werden vor dem Verkauf getestet und dokumentiert.</p>
    </div>
    <div class="feature">
      <img src="assets/img/icons/recicle.png" alt="Icon" />
      <h3>Nachhaltig</h3>
      <p>Du sparst Geld und schonst die Umwelt – mit gebrauchten Teilen.</p>
    </div>
    <div class="feature">
      <img src="assets/img/icons/fast.png" alt="Icon" />
      <h3>Schneller Versand</h3>
      <p>Versandfertig innerhalb von 24–48 Stunden nach Bestellung.</p>
    </div>
  </section>


</section>
<app-offers></app-offers>
