<section class="top-deals">
  <h2>Top Angebote</h2>
  <div class="product-grid">
    <div class="product-card">
      <img src="assets/img/scheinwerfer Vw t6.jpg" alt="VW Scheinwerfer" />
      <h3>VW T6 Camper</h3>
      <p>Teilenummer: 1AB 008.966.202</p>
      <p>Seite: <strong>Links</strong></p>
      <p>81 kW · 30.800 km</p>
      <button>Details</button>
    </div>
    <app-small-card
      imageUrl="assets/img/scheinwerfer Vw t6.jpg"
      title="VW Golf 7 – Scheinwerfer Rechts"
      oem="5G1941006E"
      leistung="77 kW"
      position="Rechts (Beifahrerseite)"
      price="49,90 €"
    ></app-small-card>

    <!-- <div class="product-card">
      <img src="assets/parts/bmw-engine.png" alt="BMW Motor" />
      <h3>BMW Motor</h3>
      <p>Teilenummer: 6.6.00.60</p>
      <p>200.000 km · 105 kW</p>
      <button>Details</button>
    </div>
    <div class="product-card">
      <img src="assets/parts/opel-door.png" alt="Opel Tür" />
      <h3>Opel Tür rechts</h3>
      <p>Farbe: Schwarz · Keine Dellen</p>
      <p>62.000 km</p>
      <button>Details</button>
    </div> -->
  </div>
</section>
